faiss-cpu==1.9.0
langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-core==0.3.29
langchain-groq==0.2.1
langgraph==0.2.61
python-telegram-bot==21.9
sentence-transformers==2.7.0
snowflake==1.0.3
snowflake.core==1.0.3
snowflake-snowpark-python==1.27.0
streamlit==1.29.0
wikipedia==1.4.0